
body {
  font-family: Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-color: #f3e5d8; 
}


.outer-container {
  padding: 20px;
  background-color: #f3e5d8;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.container {
  width: 300px;
  padding: 20px;
  background-color: #e8eded; 
  border: 1px solid #d1d9d9;
  border-radius: 8px;
  text-align: center;
}

.container h2 {
  color: #333;
  font-size: 20px;
  margin-bottom: 20px;
}

.input-field, .select-field {
  width: calc(50% - 10px);
  padding: 8px;
  margin: 8px 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  box-sizing: border-box;
}

.input-field {
  text-align: right;
}
.button {
  width: 100px;
  padding: 8px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #555;
}

.error-message {
  color: red;
  margin-top: 10px;
}

.result {
  margin-top: 20px;
  color: #333;
  font-weight: bold;
}
